<!DOCTYPE html>
<html>
    <head>
        <title>Light Bridge</title>

        <style>
            .banner {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            .name-header {
                font-size: 1.5em;
                font-family: 'Courier New', Courier, monospace;
            }
        </style>
    </head>
<body>

    <img class="banner" 
        src="{{ url_for('static', filename='/images/trSun_cover.png')}}
    "/>

    <h1 class="header">About <span class="name-header">Teacher Sun</span></h1>
    <br>
    <p>
        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
    </p>
    
</body>
</html>